streamlit==1.42.0
pydantic==2.10.6
openai==1.59.1
pdfminer.six==20240706
python-dotenv==1.0.1
tenacity==9.0.0
tqdm==4.67.1
pandas==2.2.3
numpy==2.2.1
tiktoken==0.8.0
vllm==0.6.6.post1
distilabel[openai,vllm]==1.5.2
datasets==3.2.0
huggingface_hub==0.28.1
unsloth==2024.12.7
trl==0.12.2
transformers==4.48.0
accelerate==1.2.1
bitsandbytes==0.45.0
sentencepiece==0.2.0
langchain-text-splitters==0.3.6
structlog==25.1.0
rich==13.9.4
